<div class="home-content-left">	
	<div class="explore">

	<%= link_to all_courses_path do %>		
		<%= image_tag("explore-arrow.jpg", :alt => "Explore" ) %>
		Explore all Courses				
	<% end %>
	</div>
	<h3>Learn Something</h3>
	<p>
		zig zag zig zag zig zag zig zag zig zag zig zag zig zag  
	</p>
	<div class ="courses">		
		<div class="banner"></div>
		<div class="description">
			<div class="title">Mining Nigeria’s Problems for Business Opportunities</div>
			<div class="tutor"> -Femi Longe, Lagos</div>			
		</div>
	</div>
	<div class="teach-banner">		
		<%= link_to 'Register', new_user_registration_path %>
	</div>
		
</div>