/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@media screen and (max-width: 800px) {
  #bannerimg {
    // display: none;
  }
}

body {
  background-color: #f0f0ed;
}
// style header tags
h1, h3, h4, h5, h6 {
  font-family: Century Gothic, sans-serif;
  color: #003333;
}
// body links
a{ color: #F58634;}
a:hover{color:#D65F39; text-decoration:underline; outline:none;}

//home_banner
#bannerimg {
  margin-top:-2.5%;
  width:auto;
  padding: 2%;
  background:
    image-url("smiling-man.png") no-repeat 33% 50%,
    image-url("smiling-student.png") no-repeat 8% 50%,
    image-url("header-img.jpg") no-repeat 0% 0%;
  background-size: 22%, 20%, cover;
  }
  
.banner-content {
  width: auto;
  margin: 2% 4% 2% 60%;
  padding: 2% 2% 3% 2%;
  background-color: rgba(36,30,3,0.5);
  border-radius: 10px;
  -webkit-border-radius: 10pt;
  -moz-border-radius: 10pt;
  color: #fff;
}

.banner-content h3{margin-bottom:7%;}

.banner-link{
  color: #fff;
  background: #F58634;
  padding:2.5%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius:10%;
}

.banner-link:hover{
  text-decoration:none;
  color:#FFF;
  background: #D65F39;
}


//login on the home page
.home-login {
  width:auto;
  padding: 1% 2% 1% 2%;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  border-top: 0px;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  margin: 0% 7% 1% 7%;
}

.home-login-form{
  width: 60%;
  margin-right: 5%;
}
.home-login-form input[type="password"]:focus, .home-login-form input[type="email"]:focus{
  border: 1px solid #D65F39;
  -moz-box-shadow: 0px 0px 2px #D65F39;
  -webkit-box-shadow: 0px 0px 2px #D65F39;
  box-shadow: 0px 0px 2px #D65F39;
}

.home-login-form input[type="password"], .home-login-form input[type="email"]{
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3pt;
  -moz-border-radius: 3pt;
  border-radius: 3pt;
  color: #888;
  height: 30%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  padding: 1.5%;
  width: 40%;
}
.home-login-form .button {
    background: #D65F39;
    border: none;
    padding: 1.5%;
    height:30%;
    color: #FFF;
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
    border-radius: 5pt;
}
.home-login-form .button:hover {
    background: #F58634;
}

.home-login-form .check {
  border-color:#F58634;
  position: absolute;
  padding:1%;
  margin:0%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
}

.home-login-form label {
  color: #D65F39;
  font-size:80%;
  font-weight:lighter;
  padding:0%;
  margin-left:2%;
  position: absolute;
  }
.home-login-form label:hover{color: #F58634;}

.home-login-form .forgot { color: #F58634; font-size:80%; margin-left:43%; padding:0%;}
.home-login-form .forgot:hover{color: #D65F39; }

//left conent for the home page
.home-content-left{
  width:60%;
}

.home-content-left .explore{
  float:right;
  font-style:italic;
  width: auto;
}
.home-content-left .explore img{
  width:auto;
  float:right;
  margin-left:2px;
}
.home-content-left .courses{
  width: 40%;
  height: 280px;
  border: 1px solid #D65F39;
  -moz-box-shadow: 0px 0px 5px #CCC;
  -webkit-box-shadow: 0px 0px 5px #CCC;
  box-shadow: 0px 0px 5px #CCC;
  margin: 10% 5% 10% 0%;
}
.home-content-left .courses .banner{
  border-bottom: 5pt solid #D65F39;
  min-height:200px;
  background-color: #CCC;
  margin-bottom: 3%;
}
.home-content-left .courses .description{ padding:0% 5% 5% 5%;}
.home-content-left .courses .title{ color:#003333;text-align:justify;}
.home-content-left .courses .tutor{color:#F58634; float:right; font-style:italic;}

.home-content-left .teach-banner{
  width: auto;
  background: image-url("teach-banner.jpg") no-repeat 0% 0%;
  background-size: contain;
  padding:11% 10% 10% 10%;
}
.home-content-left .teach-banner a{
  font-size: 1em;
  font-family: Century Gothic, sans-serif;
  color: white;
  background: #F58634;
  padding:1.5%;
  -webkit-border-radius: 4pt;
  -moz-border-radius: 4pt;
  border-radius:4pt;
  margin:40% 0% 0% 50%;
}
.home-content-left .teach-banner a:hover{
  background: #D65F39;
  text-decoration: none;
}
//style for page sections
.left-col{
  width: 25%;
  float:left;
  margin-right:2%;
}
.right-col{
  width: 70%;
  float:right;
}
//style hot_courses table
.pencil-icon{
  width: 15%;
  background-color: #D65F39;
  padding: 2% 5% 2% 2%;
  float:left;
  margin-right: 3%;
}
.hot-courses table{
  border: 1px solid #CCCCCC;
  width: 100%;
  border-radius: 5pt;
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  min-height: 400px;
}
.hot-courses th{
  font-family: Century Gothic, sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  background-color:#f0f0ed;
  color: #003333;
}
.hot-courses .th-hot{ margin-top: 5.5%;}
.hot-courses td{
  padding: 3% 6% 3% 6%;
  font-size: 1.2em;
  text-align: justify;
}
.hot-courses .hot-tutor{
  float:right;
  color:#D65F39;
  font-style:italic;
}
// style for all available courses
.course{
  width:auto;
  padding:2%;
  background-color: #f0f0ed;
  //border: 3px solid white;
  border-radius: 10pt;
  -webkit-border-radius: 10pt;
  -moz-border-radius: 10pt;
  -moz-box-shadow: 0px 0px 3px #AAA;
  -webkit-box-shadow: 0px 0px 3px #AAA;
  box-shadow: 0px 0px 3px #AAA;
}
.course .avatar{
  width:35%;
  border-radius: 3pt;
  -webkit-border-radius: 3pt;
  -moz-border-radius: 3pt;
  padding:1%;
  float:left;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 3px #AAA;
  -webkit-box-shadow: 0px 0px 3px #AAA;
  box-shadow: 0px 0px 3px #AAA;
}
.course .avatar h4{
  padding-top:2px;
  color: #D65F39;
  text-align:center;
  font-family: Century Gothic, sans-serif;
}
.course .avatar .approved-icon{
  float:right;
  margin:3% 3% 0% 3%;
}
.course .details{
  width:63%;
  background-color: #fff;
  padding: 2% 5% 3% 2%;
  margin-left: 37%;
  margin-right: 1%;
}
.course .details .title h2{
  color: #D65F39;
}
.course .details .course-date{
  color: black;
  float: right;
}
.course .details hr{ margin-top: 0px;}
.course .details a{
  padding: 1%;
  margin-left: 2%;
}
.course .details a:active{color: white;}
.course .details .tag{  
  font-size: 0.8em;
  color: #D65F39;
  margin-top:5%;
}