<div id="bannerimg">
	<div class="banner-content">
		<h1>Learn Something</h1>
		<h3>
			Learn Something Learn Something Learn Something Learn Something
		</h3>		
		<%= link_to 'Join Us', new_user_registration_path, class: 'banner-link'  %>		
	</div>
</div>
